.boton-clear{
    height: 30px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: brown;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 50px;
}

.boton-clear:hover{
  background-color: #ebb000;
}